@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blu: #50A5AF;
    --o: #FA3B12;
    --os: #FBEADD;
    --w: #EDF4F7;
    --blau: #0E384A;
    --bla: #01070F;
  }

  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
   }

   * {
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Raleway', sans-serif;
    font-weight: 500;
    max-width: 100%;
    background-color: var(--w);
    font-size: 13px;
    color: var(--bla);
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: var(--blau);
  padding-left: 20px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: var(--o);
  padding-left: 20px;
}

p {
  line-height: 150%;
  padding: 20px;
}

a {
  text-decoration: none;
}

/*Navigation stuff*/
.nav {
    position: sticky;
    top: 0;
   background: var(--blu);
    z-index: 2;
  }
  
.navgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .nav img {
      margin-left: 50px;
  }

  .nav ul {
    padding-right: 75px;
  }
    
    .nav li {
      list-style: none;
      display: inline-block;
  }
    
    .nav a {
      text-decoration: none;
      color: var(--w);
      transition: color .3s;
      padding: 15px;
      font-size: 17px;
  }
    
    .nav a:hover {
      color: var(--blau);
  }
  
    .nav span {
      color: var(--o);
  }

.hero {
  background-image: url(images/hero-gym.jpg);
  position: relative;
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
}

.heroContent {
  position: absolute;
  background-color: rgba(217,217,217,.5);
  margin-top: 10%;
  width: 45vw;
  padding: 10px;
}

.pHero {
  font-size: 30px;
  font-style: italic;
  color: var(--blau);
  padding: 0;
  padding-left: 20px;
}

.button {
  font-size: 13px;
  line-height: 70px;
  font-weight: bold;
  color: var(--w);
  padding: 15px;
  background-color: var(--o);
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  margin-left: 20px;
}

.button:hover {
  color: var(--bla);
  background-color: var(--os);
}

  .ytBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.ytBox iFrame {
  padding-top: 50px;
}

  #about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.aboutbox {
  width: 50vw;
}

/* Div Time */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 433px;
}

.card:nth-child(odd) {
  flex-direction: row;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.kc {
  padding: 30px;
}

.csize {
  min-height: 433px;
  width: 175%;
}

.cr {
  background-color: var(--os);
}

.card1 {
  background-image: url(images/girl-stretch.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card2 {
  background-image: url(images/mircrophone.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: url(images/girl-ring.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card4 {
  background-image: url(images/man-balance.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card5 {
  background-image: url(images/whistle.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

  /* Modal Stuff */

  .mbutton {
    background: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 25px;
  }
  
  .mbutton:hover {
    background: #333;
  }
  
  /* modal styling, modal will cover entire window when hidden */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,.5);
  }
  
  .modal-content {
    background: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    padding: 15px;
  }
  
  .closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
  }
  
  .closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* End Modal */

  /* Footer */

  footer {
    background-color: var(--blu);
    min-height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
  }

  footer p {
    padding: 0;
    padding-right: 20px;
  }

  .fp {
    padding-left: 20px;
  }

  footer img {
    max-height: 30px;
    padding-right: 10px;

  }

  .fgroup {
    padding: 5px 10px 5px 10px;
    color: var(--w);
  }

  .icon a {
    display: flex;
    align-items: center;
    color: var(--w);
    transition: color .3s;
    justify-content: left;
    padding: 10px;
  }

  .icon a:hover {
    color: var(--blau);
  }