@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blu: #50A5AF;
    --o: #FA3B12;
    --os: #FBEADD;
    --w: #EDF4F7;
    --blau: #0E384A;
    --bla: #01070F;
  }

  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
   }

   * {
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Raleway', sans-serif;
    font-weight: 500;
    max-width: 100%;
    background-color: var(--w);
    font-size: 13px;
    color: var(--bla);
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: var(--blau);
  padding-left: 20px;
}

.smaller {
  font-size: 60px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: var(--o);
  padding-left: 20px;
}

p {
  line-height: 150%;
  padding: 20px;
}

a {
  text-decoration: none;
}

button {
  color: none;
  background-color: none;
  border: none;
}

/** Navigation Sillies **/
.navigation {
  background: var(--blu);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  min-height: 7.5rem;
}

.logo {
margin-top: 1em;
padding: 15px;
height: 105px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  color: var(--g);
  font-size: 1.5em;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  padding-right: 10px;
  background: var(--blu);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--w);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--blau);
}

.nav-toggle:checked ~ nav {
   transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

nav span {
  display: none;
}

.helloworld {
  background: var(--nav);
  min-height: 7.5rem;
  width: 100%;
}

.sc {
  color: var(--w);
  text-align: center;
}
/** End Navigation Sillies **/


.hero {
  background-image: url(images/hero-gym.jpg);
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
}

.heroContentA {
  display: none;
}

.heroContentB {
  padding: 10px;
  text-align: center;
  background-color: rgba(217,217,217,.5);
}

.pHero {
  font-size: 30px;
  font-style: italic;
  color: var(--blau);
  padding: 0;
  padding-left: 20px;
}

.button {
  font-size: 13px;
  line-height: 70px;
  font-weight: bold;
  color: var(--w);
  padding: 15px;
  background-color: var(--o);
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  margin-left: 20px;
}

.button:hover {
  color: var(--os);
  background-color: var(--blau);
}

.here {
  text-decoration: none;
  color: var(--blu);
  transition: .3s;
}

.here:hover {
  color: var(--o);
}

  .ytBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.ytBox iFrame {
  padding-top: 50px;
}

.ytdk {
  display: none;
}

  #about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.aboutbox {
  width: 80vw;
}

/* Div Time */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kc {
  padding: 30px;
  width: 100vw;
}

.csize {
  height: 70vh;
  width: 100vw;
}

.cr {
  background-color: var(--os);
}

.card1 {
  background-image: url(images/girl-stretch.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: right;
}

.card2 {
  background-image: url(images/mircrophone.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: right;
}

.card3 {
  background-image: url(images/girl-ring.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: top;
}

.card4 {
  background-image: url(images/man-balance.png);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card5 {
  background-image: url(images/whistle.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

/* Testimonials */

.testibox {
  background-color: var(--os);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
}

.testimonial {
  width: 90vw;
  text-align: center;
  padding: 25px;
}

.mid {
  border-bottom: solid 2px var(--blau);
  border-top: solid 2px var(--blau);
}

.testi {
  font-size: 18px;
}

.signi {
  font-style: italic;
  color: var(--o);
  margin-top: -30px;
}

.quote {
  color: var(--o);
  font-family: 'Oswald', sans-serif;
}

.bigq {
  font-size: 100px;
}

.testibox h3 {
  font-size: 40px;
  color: var(--o);
  font-family: 'Oswald', sans-serif;
  line-height: 10px;
}

  /* Modal Stuff */

  .mbutton {
  background-color: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--o);
  padding: 10px;
  border-bottom: solid 3px var(--o);
  text-align: center;
  transition: .3s;
  margin-bottom: 20px;
  }
  
  .mbutton:hover {
    color: var(--blau);
    border-bottom-color: var(--blau);
  }
  
  /* modal styling, modal will cover entire window when hidden */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,.5);
  }
  
  .modal-content {
    background: var(--w);
    margin: 20% auto;
    width: 70%;
    padding: 15px;
  }
  
  .closeBtn {
    color: var(--o);
    float: right;
    font-size: 30px;
  }
  
  .closeBtn:hover, .closeBtn:focus {
    color: var(--bla);
    text-decoration: none;
    cursor: pointer;
  }

  /* End Modal */

/* Form */

.contact {
  display: none;
}

.fbox {
  padding-top: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ftype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

form input[type="text"] {
  padding: 10px;
  width: 100%;
  margin: 1%;
  border: none;
  border-radius: 30px;
  background: var(--os);
}

.texttext {
  width: 100%;
  height: 20vh;
  resize: none;
  padding: 5px;
}

.textsend {
  font-size: 13px;
  font-weight: bold;
  color: var(--w);
  padding: 10px 20px 10px 20px;
  margin: 1%;
  background-color: var(--o);
  border-radius: 30px;
  border: none;
  text-align: center;
  transition: .3s;
}

.textsend:hover {
  color: var(--os);
  background-color: var(--blau);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--o);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--o);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--o);
}

  /* Footer */

  footer {
    background-color: var(--blu);
    min-height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 20px;
  }

  footer p {
    padding: 0;
    padding-right: 20px;
  }

  .fp {
    padding-left: 20px;
    text-align: center;
  }

  footer img {
    max-height: 30px;
    padding-right: 10px;

  }

  .fgroup {
    padding: 5px 10px 5px 10px;
    color: var(--w);
  }

  .icon a {
    display: flex;
    align-items: center;
    color: var(--w);
    transition: color .3s;
    justify-content: left;
    padding: 10px;
  }

  .icon a:hover {
    color: var(--blau);
  }

  @media screen and (min-width: 850px) {

    /** Navigation Sillies **/
    .nav-toggle-label {
      display: none;
    }
    
  .navigation {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 6fr) 1fr;
    }
    
    .logo {
      grid-column: 1/4;
    }

    nav {
        all:unset;
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      nav ul {
        display: flex;
        justify-content: flex-end;
      }
      
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }
      
      nav a::before {
        content:"";
        display: block;
        height: 6px;
        background: var(--o);
        position: absolute;
        top: 1.475em;
        left: 0;
        right: 0;
        transform: scale(0,.5);
        transform-origin: center;
        transition: transform ease-in-out 300ms;
      }
      
      nav a:hover::before {
        transform: scale(1,.5);
      }

      nav span {
        display: block;
        color: var(--o);
      }
      /** End Navigation Sillies **/


      /**Hero Stuff**/

      .hero {
        position: relative;
        width: 100vw;
        height: 80vh;
        background-size: cover;
        background-repeat: none;
        background-position: bottom right;
      }

      .heroContentA {
        display: block;
        position: absolute;
        background-color: rgba(217,217,217,.5);
        margin-top: 8%;
        width: 75vw;
        padding: 10px;
        text-align: left;
      }

      .heroContentB {
        display: none;
      }

      /** End Hero **/

      .ytBox iFrame {
        padding-top: 50px;
      }

      .ytdk {
        display: flex;
      }

      .ytmb {
        display: none;
      }

      .aboutbox {
        width: 50vw;
      }

      /* Div Time */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 433px;
}

.card:nth-child(odd) {
  flex-direction: row;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.kc {
  padding: 30px;
  width: 125%;
}

.csize {
  min-height: 633px;
  width: 175%;
}

.testimonial {
  width: 55vw;
}

.fboximage {
  display: flex;
}

.fbox {
  width: 49vw;
}

form {
  width: 39vw;
}

.contact {
  display: block;
  object-fit: cover;
  object-position: right, center;
  height: 125vh;
  width: 49vw;
}

footer {
  flex-direction: row;
  padding-top: 0;
}

.fp {
  text-align: left;
}

  }